@charset "UTF-8";
#mainsection { height: 1200px;}
        .fr-prev::after, .fr-next::after {
            font-family: 'FontAwesome';
            font-size: 18px;
        }
        .fr-prev::after {
            content: '\f104'; /* FontAwesome 왼쪽 화살표 아이콘 */
        }
        .fr-next::after {
            content: '\f105'; /* FontAwesome 오른쪽 화살표 아이콘 */
        }
        .fr-carousel {
            height: 300px;
            width: 100%;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        .fr-container {
            display: flex;
            height: 300px;
            transition: transform 0.5s ease;
        }
        .fr-cell {
            width: 180px;
            height: 300px;
            display: inline-block;
            overflow: hidden;
            position: relative;
        }
        .fr-cell img { 
            height: 100%; 
            transition: opacity 0.5s ease, transform 0.5s ease; /* 이미지 투명도 전환 애니메이션 */
        }
        .fr-cell.active img {
            transform: scale(1.1); /* 활성화된 슬라이드 이미지를 1.1배 커지도록 설정 */
        }
        .button-container {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .fr-prev, .fr-next {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            position: absolute;
        }
        .fr-prev {
            left: calc(50% - 290px); /* 중앙 이미지의 왼쪽 */
        }
        .fr-next {
            right: calc(50% - 290px); /* 중앙 이미지의 오른쪽 */
        }
        .fr-prev:focus, .fr-next:focus {
            outline: none;
        }