@charset "UTF-8";


.maintext { 
    text-align: right;
    color: #FFFEF2;
}

.maintext p { font-size: 50px;}

#maintext_wrap {
    margin-bottom: 20px;
    margin-right: 20px;
    
}

#page2 { height: 600px;}
#maintext1 { 
    height: 85px; 
    border-top: 1px solid #252525; 
    border-bottom: 1px solid #252525; 
    padding-left: 30px;
}

#page3, #page5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #252525; 
    border-bottom: 1px solid #252525;
}
    
#maintext2, #maintext3 {
    width: 100%; 
    padding-left: 50px; 
}
#maintext3 { 
    line-height: 1.5em;
    padding-top: 20px;
}


.round-button { 
    margin: 0 auto;
    width: 110px;
    height: 30px;
    border-radius: 50px;
    line-height: 2em;
    border: 1px solid #252525;
    margin-top: 20px;
    text-align: center;
}

#maintext4-1 { 
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 50px;
}

#black-line { 
    height: 40px;
    background-color: #252525;
    color: #FFFEF2;
    white-space:nowrap;
    line-height: 1.5em;
    font-size: 30px;
}

#maintext5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #252525; 
    border-bottom: 1px solid #252525;
    height: 340px;
}

#maintext5 > .text14 { 
    height: 340px;
    border-right: 1px solid #252525;}


#videoframe video{ 
    width: 100%;
    margin: 0 auto;
    display: block;
}

#maintext6 {
    height: 300px;
    text-align: center;
    border-top: 1px solid #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maintext6 p {
    font-size: 45px;
}

#page6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.maintext7 {
    font-size: 28px;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 50px;
}

.maintext7-1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    line-height: 1.5em;
}