<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	
	<select id="getTotalCount" resultType="int">
		select COUNT(*) from review
	</select>

	<!-- has a 관계 설정 -->
	<resultMap type="review" id="reviewRM">
		<result property="member.id" column="id"/>
		<result property="product.pname" column="pname"/>
	</resultMap>
	
	<!--리뷰 조회 -->
	<select id="getReviewList" parameterType="pagingBean" resultMap="reviewRM">
		select * from review order by no desc
	</select>	
	
	<!-- 리뷰 상세 보기 -->
	<select id="getReview" resultMap="reviewRM">
		select r.no, p.pname, r.title, r.content, m.id, r.hits, r.resdate, r.starRating 
		from review r, member m, product p 
		where r.id=m.id and no=#{no}
	</select>
	
	
	<insert id="insReview">
		insert into Review values (default), #{product.pname, jdbcType=VARCHAR}, #{title}, #{content}, #{member.id, jdbcType=VARCHAR}, default, default, #{starRating, jdbcType=INTEGER})
	</insert>
	<update id="upReview">
		update Review set title=#{title}, content=#{content}, pname=#{pname} where no=#{no}
	</update>
	<delete id="delReview">
		delete from Review where no=#{no}
	</delete>
</mapper>